:root {
  --primary-1: #406E52;
  --primary-2: #415248;
  --primary-3: #A5B675;

  --grey-1: #FFFFFF;
  --grey-2: #F7F7F8;
  --grey-3: #E4E5EB;
  --grey-4: #636369;
  --grey-5: #12161E;

  --transparency-1: rgba(255,255,255,0.2);
}